name: system-test-notification
on:
  pull_request:
    types:
      - opened
      - reopened
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test I can modify the workflow
        run: |
          echo "Ye I can"
  notify:
    # This job runs only if the pull request is from a forked repository.
    if: github.event.pull_request.head.repo.full_name != github.repository
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Add comment
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            const { repo, owner } = context.repo
            await github.rest.issues.createComment({
              owner,
              repo,
              issue_number: context.issue.number,
              body: `
            ### :warning: Warning
            System-tests will not be executed for this PR because it is from a forked repository.
            But it will still create a successful \`system-test\` status check.
              `
            });
