name: Lint GitHub Actions
on:
  pull_request:
    paths:
      - '.github/**'
permissions:
  contents: read
jobs:
  scorecard:
    name: OSSF Scorecard Analysis
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Run OSSF Scorecard
        uses: ossf/scorecard-action@v2.4.0
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true
      - name: Upload SARIF results to code scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
  octoscan:
    name: Octoscan Security Scan
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - id: octoscan
        name: Run octoscan
        uses: synacktiv/action-octoscan@v1
      - name: Upload SARIF file to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "${{steps.octoscan.outputs.sarif_output}}"
          category: octoscan
